<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To Do Form</title>
</head>
<body>
<form action="#" th:action="@{/process}" th:object="${todo}" method="post">
    <input type="hidden" th:field="*{id}" />
    Task Name: <input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span> <br />


    Content:  <input type="text" th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span> <br />

    <br />


    <input type="submit" value="Submit" />
</form>
</body>
</html>